{% extends "base.html" %}
{% block content %}
<section>

<h2>Conditions</h2>
<p>Many statements in C use Conditions. A <span class="keyword">Condition</span> is a question with two possible answers: True or False. For example, &ldquo;How old are you?&rdquo; is not a Condition. However, &ldquo;Are you 16?&rdquo; is a Condition: It can be answered Yes or No. We could write this condition like this:</p>

<div class="code">(age == 16)</div>
</section>

<section>
<h2>Relational Operators</h2>
<p>When we write conditions, we use <span class="keyword">Relational Operators</span>. Here is a list of them:</p>

<ul>
<li>== - Equal to*</li>
<li>!= - Not equal to</li>
<li>&gt; - Greater Than</li>
<li>&lt; - Less Than</li>
<li>&gt;= - Greater or Equal</li>
<li>&lt;= - Less or Equa</li>
</ul>

<p>*Remember to write &ldquo;==&rdquo; not &ldquo;=&rdquo; or your code will not work the way you want!</p>

<p>So if we wanted to write the condition &ldquo;Is height greater than or equal to 182cm?&rdquo; We could write it like this:</p>

<div class="code">(height >= 182)</div>
</section>

<section>
<h2>Logical Operators</h2>
<p>We can combine two or more conditions using the <span class="keyword">Logical Operators</span>: &amp;&amp; - AND, || - OR. These tables will show you how they work:</p>

<figure id="truth-tables">
<table>
<tr><th colspan="2"><span class="keyword">AND - &amp;&amp;</span></th></tr>
<tr><td>True &amp;&amp; True</td><td>True</td></tr>
<tr><td>True &amp;&amp; False</td><td>False</td></tr>
<tr><td>False &amp;&amp; True</td><td>False</td></tr>
<tr><td>False &amp;&amp; False</td><td>False</td></tr>
</table>

<table >
<tr><th colspan="2"><span class="keyword">OR - ||</span></th></tr>
<tr><td>True || True</td><td>True</td></tr>
<tr><td>True || False</td><td>True</td></tr>
<tr><td>False || True</td><td>True</td></tr>
<tr><td>False || False</td><td>False</td></tr>
</table>
<span class="stretch"></span>
</figure>

<p>So if I wanted to write a condition like this: &ldquo;Do you have 3 shirts AND 5 jackets?&rdquo; I could write it like this:</p>

<div class="code">(shirts == 3 &amp;&amp; jackets == 5)</div>

<p>There is one more logical operator: NOT - ! This operator changes True to False and False to True. If I wanted to write the condition &ldquo;Do you NOT have 3 cars?&rdquo; I could write it like this:</p>

<div class="code">(!(cars == 3))</div>

<p>I could also write it like this with the &ldquo;Not Equal To&rdquo; relational operator:</p>

<div class="code">(cars != 3)</div>
</section>

<section>
<h2>Comparing Strings</h2>

<p>We cannot use relational operators (==, &gt;, &lt;, etc.) to compare Strings (This is because Strings are not normal variables, they are Arrays). We must use the <span class="keyword">strcmp()</span> (short for &ldquo;String Compare&rdquo;) function. The strcmp() function takes two strings as input, and returns 0 if they are the same. So we can compare two strings like this:</p>

<div class="code">(strcmp(string1, string2) == 0)</div>

<p>If string1 and string2 are the same, this condition will be True.</p>
</section>

<section>
<h2>If-Else Statements</h2>

<p>We can use conditions to write if statements. An <span class="keyword">if statement</span> will check if the condition it contains is True. If the condition is true, it will run the code that comes after it:</p>

<div class="code">if(cars != 3)
{  
	printf(&ldquo;Time to buy a new car!\n&rdquo;); 
}</div>

<p>We can also write <span class="keyword">else statements</span> that will run if the condition is false. Here is an example:</p>

<div class="code">if(height > 150) 
{  
	printf(&ldquo;You can ride this roller coaster!\n&rdquo;); 
}else 
{  
	printf(&ldquo;You are too short to ride this roller coaster.\n&rdquo;); 
}</div>

<p>If you do not follow your if and else statements with curly braces (&ldquo;{&ldquo; and &ldquo;}&rdquo;), they will run the next line of code and nothing else. We could rewrite the above code like this:</p>

<div class="code">if(height > 150)  
	printf(&ldquo;You can ride this roller coaster!\n&rdquo;); 
else  
	printf(&ldquo;You are too short to ride this roller coaster.\n&rdquo;);</div>

<p>One last note: You can put if statements after your else statements, like this:</p>

<div class="code">if(score > 90)  
	grade = &ldquo;A&rdquo;; 
else if(score > 80)  
	grade = &ldquo;B&rdquo;; 
else if(score > 70)  
	grade = &ldquo;C&rdquo;; 
else if(score > 60)  
	grade = &ldquo;D&rdquo;; 
else  
	grade = &ldquo;F&rdquo;; </div>

</section>
{% endblock %}