-extends "base.html"
-block content
	%section
		:markdown
			I'm going to write this part later. For now, here's a link with some common C mistakes: [Common C Errors](http://www.drpaulcarter.com/cs/common-c-errors.php)

	%section
		:markdown
			Common errors
			-------------

			- Remember to end every statement with a Semicolon “;”
			- If you forget a semi-colon, Dev-C++ won’t notice the Error until the next line of code.
			- “Everything that has a beginning, must have an end.” If you have an open Curly Brace ‘{‘ with no close Curly Brace ‘}’ you will get an error.
			- 95% of all errors are spelling mistakes. If you get an error, check that you have spelled the variable names correctly.