-extends "base.html"
-block content
	%section
		:markdown
			If you've made it through this class (or even just the links on this website) you now know how to write a basic computer program. Although you still have a lot to learn, most other languages have similar syntax to C. Learning a second programming language is much easier than learning your first.

			If you like programming, don’t stop after this class. There are TONS of free lessons, books and videos on the internet. You can learn to do anything easily and quickly. This page has some good places to look, depending on what you want to do.

			Note: I'm still working on this page, I'll probably add more links in the next couple weeks.

	%section
		:markdown
			If you just want to keep coding...
			----------------------------------

			Here are a few programming languages you might want to try out:

			###Java
			If you keep programming, you’ll definitely be using Java a lot. It looks a little like C, but has a lot of big differences. You’ll need to learn about Classes and Objects to use it (or pretty much any of these languages) right. The good news is that there are no Pointers in Java, so writing large programs is easier.

			If you want to learn Java, [the Udacity course about Java](https://www.udacity.com/course/cs046) is great. They will review what we've learned in this class and teach you about how Objects and Classes work, which is VERY important.

			###Python and Ruby
			The Coke and Pepsi of programming languages. They both have Objects. They’re both used for programming websites. They’re both considered “cool” and “trendy”. They're both very easy to learn. They both have huge libraries that let you do anything you want. They're both great for writing web servers, if you want to do that.

			If you want to learn Python, I highly suggest [this Udacity course](https://www.udacity.com/course/cs101). They will review what you've learned in this class and then teach you a whole bunch of really cool ways to use programming.

			If you want to learn Ruby, CodeSchool.com has [a HUGE section on Ruby](http://www.codeschool.com/paths/ruby) and their lessons are really good.

			There are a bunch of other cool languages to try, many of them have websites where you can try typing a little bit of code:

			- [Try Haskell](http://tryhaskell.org/), a very powerful functional language, very different from C.
			- [Try Clojure](http://tryclj.com/), a functional language like Haskell, but with some Java features.
			- [Try Ruby](http://tryruby.org/), the language I mentioned above
			- [Try Go](http://tour.golang.org/), a language developed by Google
			- [Try Python](http://www.trypython.org/), the language I used to write this website.

	%section
		:markdown
			If you want to make Smartphone Apps...
			--------------------------------------

			You'll need to learn a new language either way. Here's what you'll need to do:

			###Android
			You can write Android apps on any computer. They are written in Java, and there's an Eclipse plug-in that can help you test your app if you don't have a Droid. If you want to sell your app, submitting it to Google is free and easy.

			###iPhone
			You'll need to have a Mac to make iPhone Apps. You'll be writing your code in a program called XCode which comes free with every Mac. The language is Objective-C (which is possibly my favorite language). If you want to sell your Apps, you'll need to pay a $99 developer fee and submit your app to Apple first. This can be difficult, so I'd recommend working with Android until you've learned more about mobile programming.

			If you want to learn Objective-C, CodeSchool.com has [a small tutorial](http://www.codeschool.com/paths/ios) that should help you get started.

	%section
		:markdown
			If you want to make a website...
			--------------------------------

			Here's what you'll need to know in order to make a website:
				- HTML - What the Webpage is - Websites are written in this language. If you press Ctrl-Alt-U in Chrome you can see the HTML for this page. It's not a hard language to learn.
				- CSS - What the Webpage looks like - This is the language used to change colors, sizes, fonts, etc. on a webpage
				- Javascript - What the Webpage does - I've used Javascript in several sections of this website for animations and interactive parts. Note: JavaScript has absolutely nothing to do with Java.
				- A server language - Where the Webpage comes from - The server for this website was written in Python, but you can use almost any programming language for this part.

			If you want to learn HTML and CSS, CodeSchool.com has [a good section](http://www.codeschool.com/paths/html-css) on the newest in HTML/CSS. If you want to learn JavaScript, I also highly recommend [their Javascript section](http://www.codeschool.com/paths/javascript).

			There is [an EXCELLENT class](https://www.udacity.com/course/cs253) about writing web sites on Udacity. The language is Python though, so you should probably take the class on that first.

	%section
		:markdown
			If you want to make a game...
			-----------------------------

			Good Luck.

			Just kidding, but making games is pretty hard work. You'll need to go to college and get really good at the following things:

			- The Model-View-Controller (MVC) - This is a very common way of writing programs with user interfaces.
			- Linear Algebra (doing math with Matrices)
			- Programming with graphics (using the GPU, modeling things, how images render)