@import url(normalize.css);
/*used on every page */
html {
  font-size: 100%;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  tab-size: 4;
  color: #333333;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid #d6d6d6; }

header {
  width: 100%;
  position: relative;
  display: inline-block;
  background-color: whitesmoke;
  text-align: left;
  top: 0; }

.title-box {
  position: relative;
  display: inline-block;
  left: 230px;
  margin: 50px 0 20px;
  width: 500px;
  text-align: left; }
  @media screen and (max-width: 664px) {
    .title-box {
      left: 5px; } }
  .title-box h1 {
    font-size: 64px;
    margin: 0; }
    @media screen and (max-width: 450px) {
      .title-box h1 {
        font-size: 48px; } }
    @media screen and (max-width: 335px) {
      .title-box h1 {
        font-size: 36px; } }
    .title-box h1 a, .title-box h1 a:hover, .title-box h1 a:visited {
      color: #333333;
      text-decoration: none; }
  .title-box h2 {
    font-size: 14px;
    margin: 0;
    border: 0; }
    @media screen and (max-width: 450px) {
      .title-box h2 {
        font-size: 10px; } }
    @media screen and (max-width: 335px) {
      .title-box h2 {
        font-size: 8px; } }

nav {
  width: 200px;
  padding: 0 1% 0;
  top: 80px;
  float: left; }
  @media screen and (max-width: 714px) {
    nav {
      display: none; } }
  nav h2 {
    text-align: center;
    margin: 0 0 10px; }
  nav ul {
    margin: 0 5px 10px;
    padding-left: 15px;
    list-style-position: inside;
    text-indent: -1em; }

article {
  border-left: 1px solid #d6d6d6;
  position: relative;
  width: 500px;
  float: left;
  margin: 0 auto;
  padding: 0 2%; }
  @media screen and (max-width: 500px) {
    article {
      width: 90%; } }
  article h1 {
    margin-top: 1.5em; }
  article h2 {
    margin-top: 0; }

section {
  padding: 5px;
  margin: 10px 0; }

figure {
  padding: 5px;
  border: 1px solid #d6d6d6;
  border-radius: 4px; }

a {
  color: gray;
  text-decoration: none; }

a:visited {
  color: gray; }

a:hover {
  text-decoration: underline; }

em, .keyword {
  font-weight: bold;
  font-style: normal; }

code, .code {
  font-family: Courier, monospace; }

pre, div.code, textarea.code {
  border: 1px solid #d6d6d6;
  color: #333333;
  padding: 1%;
  border-radius: 4px;
  white-space: pre;
  word-wrap: break-word; }

table {
  text-align: center;
  border-collapse: collapse; }

td {
  border: 2px solid #333333; }

textarea {
  width: 50%;
  height: 15em;
  font-size: 1em; }

.login-area {
  font-size: 0.9em;
  text-align: right;
  color: gray;
  position: relative;
  top: 0px;
  right: 10px; }
  @media screen and (max-width: 315px) {
    .login-area {
      font-size: 0.8em; } }

.login-link {
  color: gray;
  text-decoration: none; }

.login-link:visited {
  color: gray; }

.login-link:hover {
  text-decoration: underline; }

/*used on the conditions page */
#truth-tables {
  display: inline-block;
  text-align: center;
  width: 95%;
  margin: 0; }
  #truth-tables table {
    margin: 10px 10%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1; }

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0; }

/* used to highlight running code in animations */
.running {
  color: orange;
  font-weight: bold; }

/*used on the Arrays page */
table.array {
  margin: 10px auto; }
  table.array td, table.array th {
    height: 1.5em;
    width: 1.5em; }

.selected-index {
  color: blue;
  font-weight: bold; }

.changed {
  color: red;
  font-weight: bold; }

/*used on the Random page */
.rand {
  color: orange;
  font-weight: bold; }

/*used on the compiler page */
#pre-processor {
  height: 650px; }

#compiler {
  height: 1225px; }

#compiler div {
  word-wrap: break-word;
  overflow: hidden;
  max-height: 700px; }
