!!! 5

-from "example-plugin.html" import example

%html
	%head
		%title {{page['topic_name']}} - St. Gabriel's C Study Guide
		%link{rel:"stylesheet", type:"text/css", href:"/static/stylesheets/={stylesheet}.css"}
		%script{type:"text/javascript", language:"Javascript", src:"https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}

		%script{type:"text/javascript", language:"Javascript", src:"/static/js/codemirror-compressed.js"}
		%link{rel:"stylesheet", href:"/static/codemirror/theme/={codemirror_theme}.css"}
		%meta{name:"CodeMirrorTheme", content:"={codemirror_theme}"}
		%script{type:"text/javascript", language:"Javascript", src:"/static/js/base.js"}
		-block scripts

	%body
		%header
			.title-box
				%h1
					%a{href:'/'} C Study Guide
				%h2 St. Gabriel's College

			.login-area
				-if logged_in_username
					-if isAdmin
						%a.login-link{href:"/admin"} admin page
						|
					%a.login-link{href:"/settings"} settings
					|
					%a.login-link{href:'/user/={logged_in_username}'} my page
					|
					= logged_in_username
					(
					%a.login-link{href:"/logout"} logout
					)
				-else
					%a.login-link{href:"/signup"} signup
					|
					%a.login-link{href:"/login"} login

		%nav#sidebar
			%h2
				%a{href:"/"} Home
			
			-for g in groups
				%span= g['group']
				%ul
					-for t in g['topics']
						%li
							%a{href:'/lessons/{{t["url"]}}'}= t['topic_name']

			%h3
				%a{href:"/exercises"} Practice Exercises

			%form#suggestion-box{ method:"POST"}
				%label
					Suggestions:
					%input#suggestion-input{name:"suggestion", type:"text"}
					%input#suggestion-submit{type:"submit", value:"Submit"}

		%article
			%h1= page['topic_name']
			-block content
