-extends "base.html"
-block content
	%section
		:markdown
			Description
			-----------

			For the Final Project, you will design and code a program using the tools we’ve learned about in this class. Working in a group of 3 students, you must think of a problem that you could solve with a computer program. The problem should be easy enough to solve with the tools you have, but hard enough that you will have to use many tools. Here are a couple of examples:

			- Use random numbers to make a dice or card game.
			- Make a program that solves a math problem for you ([The Ackermann Function](http://en.wikipedia.org/wiki/Ackermann_function) is a good one!)


	%section
		:markdown
			Grading
			-------

			Grading will be in two parts:

			- Flowchart of your program (30 points)
			- Code for your program (70 points)
			
			For the Code part of your program, you will be graded on how many tools you use, and on how well you use them. You DO NOT need to use every tool. Only enough to get you 70 points. Make sure you try to use the Right Tool For The Job.

	%section
		:markdown
			Basic Tools
			-----------

			Use enough tools to get 70 points. You DO NOT need to use all of them

			- [Input/Output](/lessons/input_output) (20 points)
			- 2 [if-statements](/lessons/conditions) (10 points)
			- 2 [Logical Operators](/lessons/conditions) (AND - &amp;&amp;, OR - ||, NOT - !) (10 points)
			- A [switch-case statement](/lessons/switch_case) (10 points)
			- A [While Loop](/lessons/while) or a [For Loop](/lessons/for) (10 points)
			- A [Function](/lessons/functions) (10 points)
			- An [Array](/lessons/arrays) that is not a String (10 points)
			- [Random Numbers](/lessons/random) (20 points)
			- [File Input/Output](/lessons/files) (20 points)
			- [Recursion](/lessons/functions) (20 points)
			- [A time function](/lessons/time) (20 points)
			- Use [`struct`s](/lessons/structs) to store information (30 points)

	%section
		:markdown
			Advanced Tools
			--------------
			(see me if you want to do any of these)

			- Use `struct`s with Pointers (70 points)
			- Fetch Data from the Internet (with cURLlib) (70 points)
			- Use [UNICODE](/lessons/unicode) and wide characters to read/write Thai letters (70 points)