-extends "base.html"
-block content
	%p
		If you don't have an account, 
		%a.login-link{href:"/signup"}
			Sign up!
	%form.auth-form{method:"post"}
		%label
			Username:
			%input{type:"text", name:"username", value:'{{username}}'}
		%br
		%label
			Password:
			%input{type:"password", name:"password", value:'{{password}}'}
			.error= error
		%br
		%br
		%input{type:"submit", value:"Submit"}

	%p
		%a{href:"/recover_password"} I forgot my password.