-extends "base.html"
-block scripts
	%script{type:"text/javascript", language:"Javascript", src:"/static/js/password-recovery.js"}

-block content
	%section
		%p Enter the email for your account. Your password will be reset, and the new password will be emailed to you.

	%form#recovery-email{method:"POST"}
		%label Email: 
			%input#recovery-email-input{name:"email", type:"text"}
		%input#recovery-submit{type:"Submit"}

	#response-message