{% extends "base.html" %}
{% block content %}
	<section>
<h2>The word “Syntax”</h2>
<p><em>Syntax</em> is a word we use to talk about “the correct way to write something”. If you write something incorrectly, you will have a “syntax error”. Here are some common pieces of syntax:</p>
<ul>
<li>; - Semicolon - This comes at the end of every statement in our code.</li>
<li>( ) - Parentheses. These are used when we write functions or certain kinds of statements (like if-else and loops)</li>
<li>[ ] - Square Brackets (or just Brackets) - These are used when talking about Arrays.</li>
<li>{ } - Curly Braces. These are used to talk about a piece of code. They usually mean something like “This piece of code is part of this function”.</li>
</ul>	</section>
	<section>
<h2>Keywords</h2>
<p>There are some words that C considers to be "special". When you type them in a coding program, they will usually turn a different color. These words are called <em>Keywords</em>, they are words that are always used for one purpose. This is important, because you cannot use a Keyword as a name for a variable, or anything else. Here is a list of all the keywords in C:</p>		<table>
			<tr>
				<td>auto</td>
				<td>_Bool</td>
				<td>break</td>
				<td>case</td>
				<td>char</td>
				<td>_Complex</td>
				<td>const</td>
				<td>continue</td>
				<td>default</td>
				<td>do</td>
			</tr>
			<tr>
				<td>double</td>
				<td>else</td>
				<td>enum</td>
				<td>extern</td>
				<td>float</td>
				<td>for</td>
				<td>goto</td>
				<td>if</td>
				<td>_Imaginary</td>
				<td>inline</td>
			</tr>
			<tr>
				<td>int</td>
				<td>long</td>
				<td>register</td>
				<td>restrict</td>
				<td>return</td>
				<td>short</td>
				<td>signed</td>
				<td>sizeof</td>
				<td>static</td>
				<td>struct</td>
			</tr>
			<tr>
				<td>switch</td>
				<td>typedef</td>
				<td>union</td>
				<td>unsigned</td>
				<td>void</td>
				<td>volatile</td>
				<td>while</td>
				<td colspan='3'></td>
			</tr>
		</table>
	</section>
	<section>
<h2>Including Libraries</h2>
<p>You can use <code>#include&lt;&gt;</code> to get code from <em>libraries</em> by including their <em>Header File</em> (.h). These libraries may have functions that can help you. Here are some good ones:</p>
<ul>
<li><code>stdlib.h</code> - Standard Library. This has some basic functions, and is usually a good idea to include.</li>
<li><code>stdio.h</code> - Standard Input/Output. This has functions for normal I/O and File I/O.</li>
<li><code>string.h</code> - Every function involving strings is in here.</li>
<li><code>math.h</code> - Useful math functions. This also has the Random number functions rand() and srand()</li>
<li><code>time.h</code> - Useful functions that deal with time.</li>
</ul>
<p>You can also include your own header files, like this:</p>
<pre><code>#include”mycode.h”
</code></pre>	</section>
	<section>
<h2><code>main()</code></h2>
<p>Every program must have a <em><code>main()</code> function</em>. When you run your program, the computer starts at the beginning of the <code>main()</code> function and stops at the <code>return</code> statement. A good way to write one is like this:</p>
<pre><code>int main()
{
    return 0;
}
</code></pre>	</section>
	<section>
<h2>Comments</h2>
<p>You can explain what a piece of code does using <em>Comments</em>. There are two ways to make comments:</p></p>
<pre><code>//Single line comments like this

/* ...or you can make a Multi-Line Comment
            using slashes and stars like this */
</code></pre>
<p>Comments are removed before the code is compiled. They are useful for taking out a piece of code to see how your program will work without it.</p>
<pre><code>//The following code is commented out. It will do nothing.

/* for(i=0; i &amp;lt; 100; i++)
    printf(“This is the number %d.\n”, i);
*/
</code></pre>	</section>
{% endblock %}
