{% extends "base.html" %}
{% block content %}
	<section>
<p>I'm going to write this part later. For now, here's a link with some common C mistakes: <a href="http://www.drpaulcarter.com/cs/common-c-errors.php">Common C Errors</a></p>	</section>
	<section>
<h2>Common errors</h2>
<ul>
<li>Remember to end every statement with a Semicolon “;”</li>
<li>If you forget a semi-colon, Dev-C++ won’t notice the Error until the next line of code.</li>
<li>“Everything that has a beginning, must have an end.” If you have an open Curly Brace ‘{‘ with no close Curly Brace ‘}’ you will get an error.</li>
<li>95% of all errors are spelling mistakes. If you get an error, check that you have spelled the variable names correctly.</li>
</ul>	</section>
{% endblock %}
