{% extends "base.html" %}
{% block content %}
	<section>
<p>Let's look at a common programming problem: We need to make a database that will store information on many people. It will need to store:</p>
<ul>
<li>Each person's name.</li>
<li>Each person's age.</li>
<li>Each person's address.</li>
<li>Each person's salary.</li>
</ul>
<p>Let's look at one way we could do it using arrays:</p>
<pre><code>//Database for 100 people
char names[100][1000];
int ages[100];
char addresses[100][1000];
float salaries[100];
</code></pre>
<p>This works, but something still seems wrong. We have to look through 4 arrays to find information on one person. Why can't we just make one array, full of people?</p>
<p>Fortunately, C let's you store information like this in a <em><code>struct</code></em>, or "structured record". Here's an example of how we could use a <code>struct</code> to keep track of people:</p>
<pre><code>struct person {
    char name[1000];
    int age;
    char address[1000];
    float salary;
}

struct person information[1000];
</code></pre>
<p>Even better, we can use <code>typedef</code> to turn <code>struct person</code> into its own type, like this:</p>
<pre><code>struct person {
    char name[1000];
    int age;
    char address[1000];
    float salary;
}
typedef struct person Person;

Person information[1000];
</code></pre>
<p>We can store information inside of <code>Person</code> like this:</p>
<pre><code>Person teacher;
teacher.name = "Chris";
teacher.age = 23;
teacher.address = "565 Thanon Samsen"
teacher.salary = 1000000.86;
</code></pre>	</section>
{% endblock %}
