{% extends "base.html" %}
{% block content %}

<section>
<p>Sometimes, a long chain of if-else-if statements is not the best way to solve a problem. We saw this with the necktie problem:</p>

<p>I have one necktie for each day of the week. I need a program to tell me which tie to wear each day.</p>

<p>Here is how we could solve the problem using if-else-if statements:</p>

<div class="code">day = getchar();
if(day == 'M')
	printf(&quot;Today you should wear a Yellow tie!&quot;);
else if(day == 'T')
	printf(&quot;Today you should wear a Pink tie!&quot;);
else if(day == 'W')
	printf(&quot;Today you should wear a Green tie!&quot;);
else if(day == 'R')
	printf(&quot;Today you should wear an Orange tie!&quot;);
else if(day == 'F')
	printf(&quot;Today you should wear a Blue tie!&quot;);
else
	printf(&quot;Today you should wear No tie!&quot;);
</div>

<p>When we have to answer a question with Two possible answers (True or False, Yes or No, Right or Wrong, etc.) if-else statements are a good idea. Sometimes we even need to have many if statements. However, sometimes it is easier to write a <span class="keyword">switch-case statement</span> to help solve the problem:</p>

<div class="code">day = getchar();
printf(&quot;Today you should wear &quot;);
switch(day)
{ 
	case 'm': 
	case 'M': printf(&quot;a Yellow &quot;); break; 
	case 't': 
	case 'T': printf(&quot;a Pink &quot;); break;  
	case 'w':  
	case 'W': printf(&quot;a Green &quot;); break;  
	case 'r':  
	case 'R': printf(&quot;an Orange &quot;); break;  
	case 'f':  
	case 'F': printf(&quot;a Blue &quot;); break;  
	default: printf(&quot;No &quot;); break; 
} 
printf(&quot;Tie! Have a nice day!&quot;);
</div>

<p>A <span class="keyword">switch statement</span> takes a variable as input (although Strings will not work, because they are Arrays) and uses it to choose which case statement to run. It runs the code starting at the <span class="keyword">case statement</span> and ending at the next <span class="keyword">break statement</span>. If none of the case statements are correct, it will run the code the comes after the <span class="keyword">default statement</span>.</p>

</section>
{% endblock %}