{% extends "base.html" %}
{% block content %}

<section>
<p>If you've made it through this class (or even just the links on this website) you now know how to write a basic computer program. Although you still have a lot to learn, most other languages have similar syntax to C. Learning a second programming language is much easier than learning your first.</p>

<p>If you like programming, don’t stop after this class. There are TONS of free lessons, books and videos on the internet. You can learn to do anything easily and quickly. This page has some good places to look, depending on what you want to do.</p>

<p>Note: I'm still working on this page, I'll probably add more links in the next couple weeks.</p>
</section>

<section>
<h2>If you just want to keep coding...</h2>

<p>Here are a few programming languages you might want to try out:</p>

<h3>Java</h3>
<p>If you keep programming, you’ll definitely be using Java a lot. It looks a little like C, but has a lot of big differences. You’ll need to learn about Classes and Objects to use it (or pretty much any of these languages) right. The good news is that there are no Pointers in Java, so writing large programs is easier.</p>

<h3>Python and Ruby</h3>
<p>The Coke and Pepsi of programming languages. They both have Objects. They’re both used for programming websites. They’re both considered “cool” and “trendy”. Python is known for being really easy to learn. Ruby is known for... well personally, I like Python more.</p>
</section>

<section>
<h2>If you want to make Smartphone Apps...</h2>
<p>You'll need to learn a new language either way. Here's what you'll need to do:</p>

<h3>Android</h3>
<p>You can write Android apps on any computer. They are written in Java, and there's an Eclipse plug-in that can help you test your app if you don't have a Droid. If you want to sell your app, submitting it to Google is free and easy.</p>

<h3>iPhone</h3>
<p>You'll need to have a Mac to make iPhone Apps. You'll be writing your code in a program called XCode which comes free with every Mac. The language is Objective-C (which is possibly my favorite language). If you want to sell your Apps, you'll need to pay a $99 developer fee and submit your app to Apple first. This can be difficult, so I'd recommend working with Android until you've learned more about mobile programming.</p>

</section>

<section><h2>If you want to make a website...</h2>

<p>Here's what you'll need to know in order to make a website:</p>
<ul>
	<li>HTML - What the Webpage is - Websites are written in this language. If you press Ctrl-Alt-U in Chrome you can see the HTML for this page. It's not a hard language to learn.</li>
	<li>CSS - What the Webpage looks like - This is the language used to change colors, sizes, fonts, etc. on a webpage</li>
	<li>Javascript - What the Webpage does - I've used Javascript in several sections of this website for animations and interactive parts.</li>
	<li>A server language - Where the Webpage comes from - The server for this website was written in Python, but you can use almost any programming language for this part.</li>
</ul>

</section>

<section><h2>If you want to make a game...</h2>

<p>Good Luck.</p>

<p>Just kidding, but making games is pretty hard work. You'll need to go to college and get really good at the following things:</p>
<ul>
	<li>The Model-View-Controller (MVC) - This is a very common way of writing programs with user interfaces.</li>
	<li>Linear Algebra (doing math with Matrices)</li>
	<li>Programming with graphics (using the GPU, modeling things, how images render)</li>
</ul>

</section>

{% endblock %}