{% extends "base.html" %}
{% block content %}
	<section>
<p>Often, we need to make our program do the same thing many times. We can use <em>loops</em> to make our programs perform repetitive tasks, and save ourselves time. <em><code>while</code> statements</em> are conditional statements, just like <code>if</code>-<code>else</code> statements.</p>
<pre><code>while(pin != MYPIN)
{
    printf("Sorry, that number is wrong, please try again: ");
    scanf("%d", &amp;pin);
}
</code></pre>
<p>The difference between <code>if</code>-<code>else</code> and <code>while</code> is that after the code inside the <code>while</code> statement runs, it checks if the condition is still true. If it is, it will run again.</p>
<p>However, if the condition is false the first time the while statement is checked, the code inside the loop will never run. Look at this code:</p>
<pre><code>int n=11;
while(n &lt; 10)
{
    printf("%d\n", n);
    n++;
}
</code></pre>
<p>If we want our loop to run one time before we look at the condition, we can use the <em>do-while loop</em>, like this:</p>
<pre><code>do
{
    printf("%d\n", n);
    n++;
}while(n &lt; 10);
</code></pre>	</section>
	<section>
<h2>Infinite Loops</h2>
<p>Some loops will run forever, these are called <em>Infinite loops</em>. You must be very careful to avoid creating an Infinite loop in your program:</p>
<pre><code>printf("Forever ");
while(7==7) //This will always be TRUE
{
    printf(" and ever");
}
printf("."); //This line will never run.
</code></pre>	</section>
{% endblock %}
