{% extends "base.html" %}
{% block content %}
	<section>
		<h2>Add an Exercise</h2>
		<form action='{{ upload_url }}' method='POST' enctype='multipart/form-data'>
			<label>Name:				<input type='text' name='name' value='HelloWorld' />
</label>
			<br />

			<label>URL:				<input type='text' name='url' value='HelloWorld' />
</label>
			<br />

			<label>Description:				<br />
				<textarea name='description'>Write "Hello World!"</textarea>
</label>
			<br />

			<label>Flowchart:											<input type='file' name='file' />
</label>
			<br />

			<label>Starting Code:				<br />
				<textarea class='code' contenteditable='true' name='start_code'></textarea>
</label>
			<br />

			<label>Checking Method:				<br />
				{% for m in test_methods %}
					<label>{{ m }}						<input type='checkbox' name='{{ m }}' value='{{ m }}' />
</label>
					<br />
				{% endfor %}
</label>
			<br />

			<label>Test Input: (separate with semicolons)				<br />
				<textarea class='code' name='test_input'>none</textarea>
</label>
			<br />

			<label>Expected Output: (separate with semicolons)				<br />
				<textarea class='code' name='output'>Hello World!</textarea>
</label>
			<br />

			<label>Keywords: (separate with semicolons)				<br />
				<textarea name='keywords'></textarea>
</label>
			<br />

			<input type='submit' value='Submit' />
		</form>
	</section>
{% endblock %}
