{% macro example(e) %}
	<figure id='{{e.url}}' class='example'>
		<h3>Try it out:			{{ e.name }}
</h3>
		<p>{{ e.description | safe }}</p>
		{% if e.flowchart %}
			<img src='/serve/{{e.flowchart.key()}}' />
		{% endif %}
		<form method='post'>
			<textarea id='example-editor' name='code'>{{ e.start_code }}</textarea>
			<br />
			{% if e.takes_input %}
				<label>Input:					<br />
					<textarea id='std-input'></textarea>
</label>
				<br />
			{% endif %}
			<input id='submit-test' type='submit' value='Compile and Run' />
			<input id='reset' type='button' value='Reset' />

		</form>
		<div id='message'>{{ message }}</div>
		<div id='cmpinfo'>Compiler:			<div class='code'>{{ cmpinfo }}</div>
</div>
		<div id='std-output'>Output:			<div class='code'>{{ output }}</div>

</div>
		<div class='attribution'></div>
	</figure>
{% endmacro %}
