{% extends "base.html" %}
{% block scripts %}
	<script src='/static/js/example.js' type='text/javascript' language='Javascript'></script>
{% endblock %}
{% block content %}
	<section>
		<h2>{{ page.name }}</h2>
		<p>{{ page.description | safe }}</p>
		{% if page.flowchart %}
			<img src='/serve/{{page.flowchart.key()}}' />
		{% endif %}
		<form id='answer' method='post'>
			<textarea id='editor' name='code'>{{ page.start_code }}</textarea>
			<label>Input:				<br />
				<textarea id='input'></textarea>
</label>
			<br />
			<input id='submit-test' type='submit' value='Compile and Run' />
			<input id='reset' type='button' value='Reset' />

		</form>
		<div id='message'>{{ message }}</div>
		<div id='cmpinfo'>Compiler:			<div class='code'>{{ cmpinfo }}</div>
</div>
		<div id='output'>Output:			<div class='code'>{{ output }}</div>

</div>
		<p>Powered by			<a href='http://ideone.com'>www.ideone.com</a>
			&copy; by
			<a href='http://sphere-research.com'>Sphere Research Labs</a>
</p>
	</section>
{% endblock %}
