{% extends "base.html" %}
{% block scripts %}
	<script src='/static/js/exercises.js' type='text/javascript' language='Javascript'></script>
{% endblock %}
{% block content %}
	<section>
		<h2>{{ page.name }}</h2>
		<p>{{ page.description | safe }}</p>
		{% if page.flowchart %}
			<img src='/serve/{{page.flowchart.key()}}' />
		{% endif %}
		<form id='answer' method='post'>
			<textarea id='editor' name='code'>{{ page.start_code }}</textarea>
			<label>Input:				<br />
				<textarea id='input'></textarea>
</label>
			<br />
			<input id='submit-test' type='submit' value='Test Program' />
			<input id='submit-check' type='submit' value='Submit Work' />

		</form>
		<div id='message'>{{ message }}</div>
		<div id='cmpinfo'>Compiler:			<div class='code'>{{ cmpinfo }}</div>
</div>
		<div id='output'>Output:			<div class='code'>{{ output }}</div>

</div>
		<div class='attribution'></div>
	</section>
{% endblock %}
