{% extends "base.html" %}
{% block content %}
	<p>
		If you don't have an account,
		<a class='login-link' href='/signup'>
			Sign up!
		</a>
	</p>
	<form class='auth-form' method='post'>
		<label>
			Username:
			<input type='text' name='username' value='{{username}}' />
		</label>
		<br />
		<label>
			Password:
			<input type='password' name='password' value='{{password}}' />
			<div class='error'>{{ error }}</div>
		</label>
		<br />
		<br />
		<input type='submit' value='Submit' />

	</form>
	<p>
		<a href='/recover_password'>I forgot my password.</a>
	</p>
{% endblock %}
