{% extends "base.html" %}
{% block content %}
<div class="login-area">If you don't have an account, <a href="/signup" class="login-link">Sign up</a>!</div>
<form method="post" class = "auth-form">
	<label>
		Username:
		<input type="text" name="username" value={{username}}>
	</label>

	<label>
		Password:
		<input type="password" name="password" value={{password}}>
		<div class="error">{{error}}</div>
	</label>
	<br>
	<br>
	<input type="submit">
</form>
<p><a href="/recover_password">I forgot my password.</a></p>
{% endblock %}