{% extends "base.html" %}
{% block scripts %}
	<script src='/static/js/password-recovery.js' type='text/javascript' language='Javascript'></script>
{% endblock %}
{% block content %}
	<section>
		<p>Enter the email for your account. Your password will be reset, and the new password will be emailed to you.</p>

	</section>
	<form id='recovery-email' method='POST'>
		<label>Email:			<input id='recovery-email-input' type='text' name='email' />
</label>
		<input id='recovery-submit' type='Submit' />

	</form>
	<div id='response-message'></div>
{% endblock %}
