{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript" language="Javascript" src="/static/js/password-recovery.js"></script>
{% endblock %}

{% block content %}
<section>
	<p>Enter the email for your account. Your password will be reset, and the new password will be emailed to you.</p>
	<form id="recovery-email" method="POST">
		<label>Email: <input id="recovery-email-input" name="email" type="text"></label>
		<input type="Submit">
	</form>
	<div id="response-message"></div>
</section>
{% endblock %}