{% extends "base.html" %}
{% block content %}
<section>
	<h2>Change Password</h2>
	<form action="/settings" method="POST">
		<label>Old Password: <input name="old_password" type="password" value="{{old_password}}" ></label>
		<div class="error">{{old_error}}</div>
		<label>New Password: <input name="new_password" type="password" value="{{new_password}}" ></label>
		<div class="error">{{new_error}}</div>
		<label>Confirm New Password: <input name="confirm_password" type="password" value="{{confirm_password}}" ></label>
		<div class="error">{{confirm_error}}</div>
		<input type="submit">
	</form>
	<p>{{message}}</p>
</section>
{% endblock %}