{% extends "base.html" %}
{% block content %}
	Already have an account?
	<a href='/login'>Login</a>
	<br />
	<form class='auth-form' method='post'>
		<label>
			Username:
			<input type='text' name='username' value='{{username}}' />
			<div class='error'>{{ usernameerror }}</div>

		</label>
		<label>
			Password:
			<input type='password' name='password' value='{{password}}' />
			<div class='error'>{{ passworderror }}</div>

		</label>
		<label>
			Verify Password:
			<input type='password' name='verify' value='{{verify}}' />
			<div class='error'>{{ verifyerror }}</div>

		</label>
		<label>
			Email (Optional):
			<input type='text' name='email' value='{{email}}' />
			<div class='error'>{{ emailerror }}</div>

		</label>
		<label>
			Room:
			<input type='text' name='room' value='{{room}}' maxlength='1' />
			<div class='error'>{{ roomerror }}</div>

		</label>
		<label>
			Number:
			<input type='text' name='number' value='{{number}}' maxlength='2' />
			<div class='error'>{{ numbererror }}</div>

		</label>
		<br />
		<br />
		<input type='submit' value='Submit' />
	</form>
{% endblock %}
